.companion-user {
  position: relative;
  width: 270px;

  padding-bottom: 12px;

  background-color: $white;
  border-radius: 10px;
}

.companion-user__photo {
  border-radius: 10px 10px 0 0;
}

.companion-user__name {
  @include article-header;

  margin-top: 14px;
  margin-bottom: 20px;
}

.companion-user__hashtags {
  @include article-tags;

  margin-bottom: 12px;
  padding: 0 40px;
}

.companion-user__country {
  position: absolute;
  top: 258px;
}
