.contact-list {
  @include list-reset;
}

.contact-list__link {
  display: flex;
  align-items: center;

  color: $dark-blue-grey;

  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  text-transform: uppercase;

  &--dark {
    color: $light-gold;
  }

  &::before {
    content: "";

    width: 45px;
    height: 45px;

    margin-right: 16px;

    background-color: $dark-blue-grey;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    border-radius: 50%;
  }

  &--dark::before {
    background-color: $dark-blue-grey-two;
  }

  &--phone::before {
    background-image: url("../img/contacts-phone.svg");
  }

  &--mail::before {
    background-image: url("../img/contacts-mail.svg");
  }
}
