.list-how-to {
  display: block;

  @include list-reset;

  // prettier-ignore
  background: linear-gradient(to bottom, $mango, $mango, $mango-three, $mango-two, $light-gold);

  border-radius: 10px;
}

.list-how-to__item {
  display: flex;
  justify-content: space-between;

  height: 80px;

  padding: 23px 25px;

  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $dark-two;

  border-radius: 10px;

  > span {
    margin-left: 40px;

    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $white;
  }

  &--orange1 {
    background-color: $mango;
  }

  &--orange2 {
    background-color: $mango-three;
  }

  &--yellow1 {
    background-color: $mango-two;
  }

  &--yellow2 {
    background-color: $light-gold;
  }
}
