.main-info {
  margin: 0 90px 25px 25px;

  @include paragraph-white;
}

.main-info > cite {
  display: block;

  margin-top: 25px;

  @include paragraph-white;
  font-weight: 500;
}

@media (min-width: $tablet) {
  .main-info {
    margin: 50px 378px 213px 34px;
    font-size: 28px;
  }

  .main-info > cite {
    margin-top: 52px;

    font-size: 21px;
  }
}
