.main-companion__header {
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 25px;

  @include header-mango;
}

.main-companion__text {
  margin-top: 0;
  margin-bottom: 27px;
  padding-left: 25px;
  padding-right: 25px;

  @include paragraph-white;

  > strong {
    font-weight: bold;
  }
}
