.main-about {
  background-image: url("../img/about-mobile@1x.png");
}

.main-about__header {
  margin: 0;
  padding: 33px 0 23px 25px;
  @include header-mango;
}

.main-about__text {
  @include paragraph-white;
  padding-left: 25px;
  padding-right: 40px;
}
