.main-nav {
  background-color: $white;
}

.main-nav__header-wrapper {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.main-nav__menu {
  @include list-reset;
  margin-bottom: 40px;
}

.main-nav__user {
  @include list-reset;
  margin-bottom: 51px;
}

.main-nav__contact {
  @include list-reset;
  margin-bottom: 35px;
}

.main-nav__social {
  @include list-reset;
}
