.main-info {
  &__quote {
    margin: 0 90px 25px 25px;

    @include Text-Style-7;
  }

  &__cite {
    display: block;

    margin: 0 90px 33px 25px;

    @include Text-Style-8;
    font-style: normal;
  }
}
