.menu {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.menu__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: $dark-blue-grey;

  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    color: $dark-slate-blue-70;
  }

  &[href]:active {
    color: $dark-slate-blue-30;
  }
}

@media (min-width: $tablet) {
  .menu {
    justify-content: center;
    align-items: flex-start;
  }

  .menu__link {
    font-size: 60px;
  }
}

@media (min-width: $desktop) {
  .menu {
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: auto;

    &::before {
      content: "";
      width: 60px;
      height: 2px;

      position: relative;
      top: 0;
      left: 0;

      margin: 0 45px;

      background-color: $dark-blue-grey;
    }
  }

  .menu__link {
    font-size: 20px;
    line-height: 1.5;

    margin-right: 35px;
  }
}
