.page-footer {
  background-color: $transparent;

  &__wrapper {
    @include wrapper-setup;

    padding: 35px 25px 14px 25px;

    background-color: $white;
    border-radius: 20px 20px 0 0;
  }

  &__logo-link {
    margin-bottom: 41px;
  }

  &__social {
    margin-bottom: 37px;
  }

  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 14px;

    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  &__copyright {
    margin: 0;
  }

  &__map-wrapper {
    position: relative;

    @include wrapper-setup;
  }

  &__map {
    position: absolute;
    left: 0;
    bottom: 0;

    border: 0;

    z-index: -1;
  }
}
