.page-header__wrapper {
  @include wrapper-setup;

  background-color: $dark-blue-grey;
}

.page-header__inner {
  @include inner-setup;
}

.page-header__nav-container {
  @include container-setup;
  padding-left: 0;
  padding-right: 0;
}

.page-header__nav {
  padding: 27px 25px 30px 25px;
  margin-bottom: 51px;
}

.page-header__contact-list-container {
  position: relative;

  min-height: 478px;

  @include container-setup;

  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: right 49px bottom, bottom left;

  color: $white;
}

.page-header__title {
  margin: 0;
  padding: 0 10px 267px 10px;

  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
}

.page-header__contact-list {
  position: absolute;
  bottom: -20px;
  right: 25px;
}
