.page-main__info-wrapper {
  @include wrapper-setup;
  background-color: $pale-grey;
}

.page-main__info-inner {
  @include inner-setup;
  background-color: $dark-blue-grey;
  border-radius: 0 0 20px 20px;
}

.page-main__info-container {
  @include container-setup;

  padding-top: 50px;
  padding-bottom: 40px;
}

.page-main__directions-wrapper {
  @include wrapper-setup;
  background-color: $dark-blue-grey;
}

.page-main__directions-inner {
  @include inner-setup;
  background-color: $pale-grey;
  border-radius: 0 0 20px 20px;
}

.page-main__directions-container {
  @include container-setup;

  padding-top: 70px;
  padding-bottom: 25px;
}

.page-main__companion-wrapper {
  @include wrapper-setup;
  background-color: $pale-grey;
}

.page-main__companion-inner {
  @include inner-setup;
  background-color: $dark-blue-grey;

  border-radius: 0 0 20px 20px;
}

.page-main__companion-container {
  @include container-setup;

  padding-top: 70px;
  padding-bottom: 25px;
}

.page-main__reg-info-wrapper {
  @include wrapper-setup;
  background-color: $dark-blue-grey;
}

.page-main__reg-info-inner {
  @include inner-setup;
  background-color: $pale-grey;
  border-radius: 0 0 20px 20px;
}

.page-main__reg-info-container {
  @include container-setup;

  padding-top: 50px;
  padding-bottom: 25px;
}

.page-main__registration-wrapper {
  @include wrapper-setup;
  background-color: $light-gold;
}

.page-main__registration-inner {
  @include inner-setup;
  background-color: $dark-blue-grey;
  border-radius: 0 0 20px 20px;
}

.page-main__registration-container {
  @include container-setup;

  padding-top: 72px;
  padding-bottom: 45px;

  color: $white;
}

.page-main__location-wrapper {
  @include wrapper-setup;
  background-color: $transparent;
}

.page-main__location-inner {
  @include inner-setup;
  background-color: $light-gold;
  border-radius: 0 0 20px 20px;
}

.page-main__location-container {
  @include container-setup;
  color: $light-gold;

  padding-top: 32px;
  padding-bottom: 35px;
}

.page-main__map-wrapper {
  @include wrapper-setup;
  height: 272px;
  background-color: $transparent;
}
