.reg-info-person__header {
  margin: 0;

  @include header-mango;

  padding-left: 25px;
}

.reg-info-person__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 25px;

  @include paragraph-gray;

  p {
    margin: 0;
  }

  > div {
    flex-basis: calc(100% - 45px);

    padding: 14px 0 14px 0;

    border-top: 1px solid $black-10;
  }

  > div:nth-last-child(2) {
    border-bottom: 1px solid $black-10;
  }
}

.reg-info-person__num {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  background-color: $mango-three;

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  border-radius: 50%;

  &--a {
    background-color: $mango-three;
  }

  &--b {
    background-color: $mango-two;
  }

  &--c {
    background-color: $light-gold;
  }
}

.reg-info-person__value {
  margin-left: 0;
}

.reg-info-person__button {
  width: 250px;
  height: 40px;

  margin-top: 20px;

  background-color: $transparent;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $dark-blue-grey;
  text-align: center;

  border: 0;
}
