.social {
  display: flex;
  justify-content: center;

  //width: 100%;

  list-style: none;
}

.social__link {
  display: block;

  width: 45px;
  height: 45px;

  font-size: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--yellow {
    background-color: $light-gold;

    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: $mango-two;
      opacity: 1;
    }

    &:active {
      background-color: $mango-two;
      opacity: 0.3;
    }
  }
}

.social__link.facebook {
  background-image: url("../img/facebook.svg");
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link.vkontakte {
  background-image: url("../img/vk.svg");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link.instagram {
  background-image: url("../img/instagram.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet) {
  .social__link {
    width: 60px;
    height: 60px;
  }

  .social__link.facebook {
    background-size: 14px;
  }

  .social__link.vkontakte {
    background-size: 31px;
  }

  .social__link.instagram {
    background-size: 24px;
  }
}
