.transport-list {
  display: flex;
  justify-content: center;

  @include list-reset;
}

.transport-list__item {
  display: block;

  width: 33px;
  height: 33px;

  background-color: red;

  border-radius: 50%;

  font-size: 0;
}
