.user-list {
  display: flex;
  align-items: center;
}

.user-list__autorisation {
  width: 270px;
  height: 50px;

  background-color: $light-gold;

  border-radius: 25px;
}

.user-list__link {
  display: block;

  height: 100%;

  color: $dark-two;

  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;

  text-transform: uppercase;
}
