.wrapper {
  background-color: $transparent;

  &--rounded {
    border-radius: 0 0 20px 20px;
  }

  &--rounded-top {
    border-radius: 20px 20px 0 0;
  }

  &--gray {
    background-color: $pale-grey;
  }

  &--blue {
    background-color: $dark-blue-grey;
  }

  &--gold {
    background-color: $light-gold;
  }

  &--transparent {
    background-color: $transparent;
  }

  &--white {
    background-color: $white;
  }
}

@media (min-width: $tablet) {
  .wrapper {
    &--rounded {
      border-radius: 0 0 35px 35px;
    }

    &--rounded-top {
      border-radius: 35px 35px 0 0;
    }
  }
}
